# Unity generated folders
2DGame/Library/
2DGame/Temp/
2DGame/Obj/
2DGame/Build/
2DGame/Builds/
2DGame/Logs/
2DGame/UserSettings/
2DGame/MemoryCaptures/
2DGame/Recordings/

# Asset meta data sometimes gets generated and should be ignored if cache only
2DGame/Assets/AssetStoreTools*

# Visual Studio / Rider / VS Code
.vs/
.vsconfig
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity build outputs
*.apk
*.aab
*.ipa
*.unitypackage
*.app

# Crashlytics / misc
sysinfo.txt
crashlytics-build.properties

# OS files
.DS_Store
Thumbs.db
