# Unity generated folders
*/Library/
*/Temp/
*/Obj/
*/Build/
*/Builds/
*/Logs/
*/UserSettings/
*/MemoryCaptures/
*/Recordings/

# Asset meta data sometimes gets generated and should be ignored if cache only
*/Assets/AssetStoreTools*

# Visual Studio / Rider / VS Code
.vs/
.vsconfig
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Unity build outputs
*.apk
*.aab
*.ipa
*.unitypackage
*.app

# Crashlytics / misc
sysinfo.txt
crashlytics-build.properties

# OS files
.DS_Store
Thumbs.db

CLAUDE.md
.claude/